<div class="py-4 px-6 border rounded flex flex-col items-center mb-2">
  <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2" />
  <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>
  <p>
    Price:
    <span class="font-bold"> {{ product.price | currency }}</span>
  </p>

  <button
    class="border py-2 px-4 rounded bg-green-700"
    (click)="details = !details"
    [ngClass]="{
      'bg-green-700': !details,
      'bg-green-500': details
    }"
  >
    {{ details ? "Hide" : "Show" }} description
  </button>

  <p *ngIf="details">{{ product.description }}</p>
  <p *ngIf="product.rating">
    Rate:
    <span [ngStyle]="{ fontWeight: 'bold' }">{{
      product.rating.rate | number : "1.1-2"
    }}</span>
  </p>
</div>
