<app-modal
  *ngIf="modalService.isVisible$ | async"
  [title]="'Create new product'"
  ><app-create-product></app-create-product
></app-modal>

<input
  type="text"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="Search products..."
  [(ngModel)]="searchTerm"
/>

{{ searchTerm }}

<div
  *ngIf="loader"
  class="py-4 px-6 border rounded flex flex-col items-center mb-2"
>
  <p>Loading...</p>
</div>

<!-- *ngIf="products$ | async as products" -->
<div *ngIf="productsService.products as products">
  <app-product
    *ngFor="
      let product of products | filterProducts : searchTerm;
      let i = index
    "
    [product]="product"
  ></app-product>

  <button
    class="fixed bottom-5 right-5 rounded-sm bg-yellow-600 py-2 px-4"
    (click)="modalService.open()"
  >
    Create product
  </button>
</div>
